# Ignore Gradle project-specific cache directory
.gradle

# Environment vars
.env

# PID's of old running programs
.pid

# IDEA IDE
.idea

# Ignore Gradle build output directory
.build

/postgres/*
!/postgres/.gitkeep

.kotlintest

logging.txt
tables.db

src/main/java/database/generated
src/main/resources/keystore.jks

/local/*
/index/*
