.metaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(0.8vmin + 0.8rem);
  font-size: 1.4rem;
  color: var(--grey200);
  font-weight: bold;
  background: linear-gradient(
    167deg,
    var(--purpleMain) 21%,
    #712991 60%,
    rgba(135, 37, 144, 1) 82%
  );

  & > div {
    padding: 0.2rem 0;
  }

  & > .instructorName {
    font-size: 2rem;
  }
}
