<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%logger{36}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logging/time_based_file.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logging/info_%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>300</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%logger{36}] %-5level - %msg%n</pattern>
        </encoder>
    </appender -->


    <logger name="services.query_catalog" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>

    <logger name="org.jooq.Constants" level="WARN">
      <appender-ref ref="STDERR" />
    </logger>

    <logger name="io.netty" level="WARN">
      <appender-ref ref="STDERR" />
    </logger>

    <logger name="org.asynchttpclient.netty" level="WARN">
      <appender-ref ref="STDERR" />
    </logger>

    <!-- <logger name="com.zaxxer.hikari" level="INFO">
      <appender-ref ref="STDERR" />
    </logger>

    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="com.zaxxer.hikari.HikariConfig" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>

    <logger name="org.jooq.tools.LoggerListener" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.jooq.impl.DefaultConnectionProvider" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.jooq.impl.DefaultBinding" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>

    <logger name="parse.catalog" level="TRACE" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="parse.catalog.meetings" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger> -->
    <root level="INFO">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
