@value min-lg from './util.module.css';

.fullscreen {
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
}

.topNav {
  width: 100%;
  min-height: 90px;
  height: 90px;
  background: #121417;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLink {
  color: var(--gray);

  &:hover {
    color: var(--blue);
  }
}

.navContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  width: 100%;

  @media min-lg {
    padding: 0;
    flex-basis: 66.666667%;
    width: 66.666667%;
  }
}

.logo {
  composes: navLink;
  min-width: 0;
  font-size: 30px;
}

.navItem {
  composes: navLink;
  margin-left: 10px;
  font-size: 20px;
}

.main {
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  padding: 50px;
  box-shadow: inset -15px 0 15px -15px #282c34, inset 15px 0 15px -15px #282c34;

  @media min-lg {
    width: 66.666667%;
  }

  & p {
    margin-bottom: 0.8rem;
  }

  & a {
    -webkit-text-decoration-skip: objects;

    color: var(--blue);
    transition: 0.4s;

    &:hover {
      color: var(--gray);
    }
  }

  & h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }

  & h2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }

  & h3 {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  & h4 {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  & h5 {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  & h6 {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  & code {
  font-family: monospace;
  font-size: 1rem;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}
& pre {
  margin-bottom: 1rem;
  overflow: auto;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}

}
