@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes deptFadeIn {
  from {
    opacity: 0;
    padding-top: 6rem;
  }
  to {
    opacity: 1;
    padding-top: 4rem;
  }
}

.searchContainer {
  position: relative;
  min-height: 38vh;
}

.schoolsContainer {
  width: 100%;
  min-height: 50vh;
  border-top: 1rem solid var(--grey200);
  background-color: var(--grey300);
  position: relative;
}

.departmentTitle {
  font-size: 1.7rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--grey700);
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  animation: fadeIn 1.2s ease forwards;
}

.schools {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(22rem, 1fr));
  grid-gap: 0.5rem;
  padding: 6rem 2rem 2rem 2rem;
  animation: deptFadeIn 0.8s ease forwards;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.schoolType {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  font-weight: bold;
  color: var(--grey700);
  top: 0.3rem;
  animation: fadeIn 1.2s ease forwards;
}

.schoolContainer {
  padding: 0.25rem 0;
  cursor: pointer;
}

.schoolTitle {
  font-size: 1.2rem;
  font-family: var(--condensedFont);
  text-align: left;
  margin: 0.2rem 0;
  position: sticky;
}

.schoolCode {
  padding: 0.5rem;
  color: var(--grey600);
  font-weight: 800;
}

.schoolName {
  color: var(--grey900);
}
