@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes deptFadeIn {
  from {
    opacity: 0;
    padding-top: 6rem;
  }
  to {
    opacity: 1;
    padding-top: 4rem;
  }
}

.searchContainer {
  position: relative;
  min-height: 60vh;
}

.schoolsContainer {
  width: 100%;
  min-height: 50vh;
  border-top: 1rem solid var(--grey200);
  background-color: var(--grey300);
  position: relative;

  & > :global(#departmentTitle) {
    font-size: 1.7rem;
    padding: 1rem;
    font-weight: bold;
    color: var(--grey700);
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    animation: fadeIn 1.2s ease forwards;
  }
}

.schools {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(22rem, 1fr));
  grid-gap: 0.5rem;
  padding: 6rem 2rem 2rem 2rem;
  animation: deptFadeIn 0.8s ease forwards;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.schoolType {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  font-weight: bold;
  color: var(--grey700);
  top: 0.3rem;
  animation: fadeIn 1.2s ease forwards;
}
