.departments {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(22rem, 1fr));
  grid-gap: 0.5rem;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.department {
  padding: 0.3rem 0;
}
