.courseContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  flex-grow: 1;
  min-height: 0px;
}

.course {
  padding: 16px 32px;
  width: 60vmin;
  min-height: 5vmax;
  border-radius: 0.3rem;

  @media (max-width: 1000px) {
    width: 38vmin;
  }
}
