.pageContainer {
  width: 100vw;
  min-height: 100vh;
}

.headerBackground {
  width: 100vw;
  height: 2rem;
}

.departmentHeader {
  margin: 2vmin 2vmin 4vmin 4vmax;
}

.schoolName {
  font-size: 1.4rem;
  text-decoration: none;
  color: inherit;
}

.departmentName {
  font-weight: bold;
  font-size: 2.6rem;
  margin-top: -0.1rem;
}

.courseContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
}

.course {
  padding: 0.75vmax 3vmin;
  word-break: break-word;
  width: 60vmin;
  min-height: 5vmax;
  margin: 1vmax;
  border-radius: 0.3rem;
  text-decoration: none;
  color: inherit;

  @media (max-width: 1000px) {
    width: 38vmin;
  }

  &:hover {
  }

  & > h4 {
  }

  & > p {
  }
}
