
.calendar {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
}

.course {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 12rem);
  grid-template-rows: 48px repeat(13, 4rem);
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.calendarDay {
  width: 100%;
  min-height: 2vh;
  padding: 15px;
  border-bottom: 1px dashed var(--grey400);
  text-align: center;
  align-items: center;

  @media (max-width: 1000px) {
    min-height: 150px;
  }
}

.timeGrid {
  width: 5%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px repeat(13, 4rem);
}

.time {
  text-align: right;
  font-size: 1rem;
  padding: 0 5px 0 0;
}
