.ratingTable {
  width: 40vw;
  border-spacing: 0;
  border-collapse: collapse;
}

.header {
  border-top: 1.2px solid var(--grey600);
  border-bottom: 1.2px solid var(--grey600);
  padding: 1rem;
  background-color: var(--grey500);
}

.tableBody = {
  width: 100%;
  background-color: var(--grey400);
  height: 100vh;
}

.ratingContainer {
  padding: 0.4rem;
  font-size: 1rem;
  color: var(--grey900);
  font-weight: bold;
  border-bottom: 1.2px solid var(--grey600);
  border-top: 1.2px solid var(--grey600);
}

.infoContainer {
  text-align: center;
  vertical-align: middle;
  padding: 0.4rem 0;
}

.rating {
  padding: 0.1rem 0.6rem;
}

.comment {
  padding: 1rem;
  border-left: 1.2px solid var(--grey600);
  width: 75%;
}

.expandButton {
  font-size: 1.1rem;
  padding: 0.8rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--grey100);
  color: var(--grey800);
  transition: 0.1s;
}
