.sectionContainer {
  background-color: var(--grey100);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > .sectionName {
    font-size: 1.8rem;
    font-family: var(--condensedFont);
    color: var(--grey800);
  }

  & > .sectionNum {
    font-size: 1.6rem;
    font-family: var(--condensedFont);
    color: var(--grey700);
  }

  & > .attributes {
    display: flex;
    flex-wrap: wrap;
  }
}

.sectionBorder {
  border-bottom: 1px solid;
}

.attributeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.sectionAttribute {
  & > .sectionAttrValue {
    font-size: 1.5rem;
  }
}

.expandButton {
  font-size: 1.1rem;
  height: 100%;
  width: 12rem;
  border-radius: 0.6rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2rem;
  transition: 0.1s;

  & > svg {
    margin-right: 0.65rem;
  }
}

.sectionDescription {
  max-width: 68%;
  color: var(--grey700);
}

.utilBar {
  padding: 0.5rem;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recitationBox {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  gap: 32px;

  & > .sectionContainer {
    width: 33%;
  }

  & > .sectionBorder {
    border-bottom: none;
    border-right: 1px solid black;
  }
}

.wishlistButton {
  font-size: 1.1rem;
  height: 100%;
  width: 12rem;
  border-radius: 0.6rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2rem;
  transition: 0.1s;

  & > svg {
    margin-right: 0.65rem;
  }
}

.dateContainer {
  font-size: 1.25rem;
}

.boldedDate {
  font-weight: bold;
}
